body {
    background-image: url('../assets/bg.png');
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.form {
    width: 600px;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

input {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid dodgerblue;
}

button {
    padding: 10px;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
}